* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'proxima-nova', sans-serif;
}


body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: #27374D;
    color: #DDE6ED;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav a {
    padding: 20px;
    text-decoration: none;
    color: #DDE6ED;
}

nav a:link {
    color: #DDE6ED;
}

nav a:visited {
    color: #9DB2BF;
}

nav a:hover {
    color: #526D82;
}

nav a:active {
    color: #27374D;
}

nav a:last-child {
    background-color: #526D82;
    color: #DDE6ED;
}


article#poema {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9DB2BF;
    height: 50vh;
    width: 100vw;
}

article#paisagem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9DB2BF;
    width: 100vw;
}

.imagem-paisagem {
    position: relative;
    width: 100vw;
    height: 100%;
}

.imagem-paisagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fotografo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #526D82;
    font-size: 1.5em;
}

.fotografo a {
    color: #526D82;
    text-decoration: none;
}

.poema {
    text-align: center;
}

.poema p {
    margin: 0;
    font-weight: bold;
}

.autor {
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    font-size: 0.9em;
}

article#cidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 20px;
    background-color: #9DB2BF;
}

article#cidades section {
    margin: 0px;
    text-align: center;
    margin: 10px;
}

article#cidades section:hover {
    opacity: 60%;
}

article#cidades section img {
    width: 100px;
    display: block;
    border-radius: 8px 8px 0px 0px;
}

article#cidades section div {
    font-weight: bold;
    border-radius: 0px 0px 8px 8px ;
    width: 100px;
    height: 100%;
    background-color: #526D82;
    color: #DDE6ED;
}

#experimenta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #9DB2BF;
}

.circulo {
    width: 100px;
    height: 100px;
    background-color: #526D82;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative; 
    overflow: hidden; 
    color: #DDE6ED;
    transition: background-color 0.3s;
}

.circulo:hover {
    background-color: #27374D; 
}

.hidden {
    display: none; 
    position: absolute; 
    font-size: 24px; 
    color: #DDE6ED;
}

.circulo:hover .hidden {
    display: block; 
}

.circulo-texto {
    font-weight: bold; 
}

footer {
    background-color: #526D82;
    color: white;
}


footer p {
    margin: 0;
    padding: 20px;
    text-align: center;
}
