* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    body {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'header' 'main' 'footer';

    }
}
/*
@media (min-width: 600px) {
    body {
        display: grid;
        height: auto;
        grid-template-columns: 1fr 3fr 1fr; /* 3 colunas: menu, main, aside 
        grid-template-rows: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'header' 'header' 
                            'interfaces' 'interfaces'
                             'intro' 'labs'
                             'footer footer footer';
                             

    }
*/
    header {
        grid-area: header;
    }

    section.interfaces {
        grid-area: interfaces;
    }

    section.intro {
        grid-area: intro;
    }

    section.labs {
        grid-area: labs;
    }

    section.footer {
        grid-area: footer;
    }
    
}
    

header {
    top: 0;
    background-color: black;
    padding: 10px;
}

h1 {
    background-color: grey;
    text-align: center;
    padding: 10px;
}

main {
    background-color: black;
    padding: 10px;
}

section {
    background-color: white;
    margin-top: 10px;
    
}

section.interfaces {
    padding: 50px;
    
}

section.interfaces h2 {
    margin-bottom: 10px;
}

section.interfaces div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section.interfaces img {
    width: 50%;
}

section.intro {
    padding: 25px;
}

section.intro h3 {
    margin: 10px;  
    font-weight: lighter;
}

section.intro ul{
    margin-left: 50px;
}

section.labs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

section.labs div{
    align-content: center;
    text-align: center;
    margin: 10px;
    width: 100px;
    height: 50px;
    border-radius: 8px 8px 8px 8px;
    
}

section.labs div:hover{
    opacity: 50%;
}

section.labs div:nth-child(odd){
    background-color: grey;
}

section.labs div:nth-child(even){
    background-color: lightgrey;
}

footer {
    top: 0;
    background-color: black;
    padding: 10px;
}

footer p {
    background-color: grey;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
}