body {
    background-color: lightcyan;
}

img {
    height: 70%;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightblue;
}

h2 {
    text-align: left;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: lightgrey;
}

