* {
    font-family: 'proxima-nova', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DDE6ED;
    margin: 0;
    padding: 0;
}

label {
    font-size: small;
    display: block;
    margin-top: 5px;
}

input {
    font-size: medium;
    display: inline;
    margin: 10px 0 5px 0;
}

header {
    background-color: #27374D;
    color: white;
}

header h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

header nav {
    background-color: #526D82;
    padding: 20px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-inline: 5px;
}

nav a:hover {
    background-color: #ddd;
}

main {
    background-color: #DDE6ED;
    margin: 0;
    padding: 0;
}

main h2 {
    color: #27374D;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 0;
    padding: 10px 10px 0 10px;
}

main h3 {
    color: #27374D;
    margin-left: 15px;
    font-weight: bold;
}

main p,
main pre {
    color: #27374D;
    text-align: justify;
    margin-left: 20px;
}

main img {
    margin-left: 20px;
}

main nav {
    text-align: left;
    background-color: #9DB2BF;
}

main nav a {
    color: white;
    text-decoration: none;
    margin-inline: 5px;
}

main nav p {
    text-align: left;
    padding-bottom: 10px;
}

main ol {
    list-style-type: upper-roman;
}

main ol li:nth-child(2n) {
    color: #526D82;
}

#iframelocal {
    margin-bottom: 10px;
}

table {
    margin: 20px;
}

table th {
    padding: 12px 0;
    text-align: left;
    color: white;
    font-size: 2em;
}

tr:nth-child(odd) {
    background-color: #526D82;
}

tr:nth-child(even) {
    background-color: #9DB2BF;
}

footer {
    background-color: #526D82;
    color: white;
}

footer p {
    margin: 0;
    padding: 20px;
    text-align: center;
}

#fotoGrande {
    border: none;
}

iframe {
    padding-left: 20px;
}

#fotos img {
    border: 5px solid #abbfce;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#fotos img:hover {
    opacity: 50%;
    cursor: zoom-in;
}

fieldset {
    margin: 10px;
}

fieldset legend {
    font-weight: bold;
    padding: 10px;
}

#submit {
    margin: 10px 0 0 20px;
}
