* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'proxima-nova', sans-serif;
}

@media (max-width: 600px) {
    body {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 30vw 30vw 1fr 55vw 15vw;
        grid-template-areas: 'header' 'menu' 'main' 'aside' 'footer';
        padding: 10px;
    }

    p,
    img {
        width: 85vw;
    }

    ul li {
        display: inline-block;
        width: 80vw;
    }

    aside {
        width: 90vw;
    }

    aside p {
        padding: 10px;
        width: 80vw;
    }

    iframe {
        width: 90vw;
    }

    #fotos img {
        width: 20vw;
        height: 15vh;
        display: inline;
    }

    form {
        width: 80vw;
    }

    form label {
        width: 70vw;
    }

    input {
        width: 30vw;
    }

    textarea {
        width: 70vw;
    }

    table {
        width: 70vw;

    }

    table th {
        display: block;
        box-sizing: border-box;
    }

    table tr {
        display: block;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    body {
        display: grid;
        height: auto;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        grid-template-areas:
            'header header'
            'menu main'
            'menu aside'
            'footer footer';
        padding: 10px;
    }

    header {
        grid-area: header;
        background-color: #27374D;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .menu {
        grid-area: menu;
        background-color: #526D82;
        padding: 20px;
        text-align: center;
        color: white;
        font-size: 18px;
    }

    main {
        grid-area: main;
        background-color: #DDE6ED;
        padding: 20px;
    }

    aside {
        grid-area: aside;
        background-color: #F1F6F9;
        padding: 20px;
    }

    footer {
        grid-area: footer;
        background-color: #526D82;
        color: white;
        padding: 20px;
        text-align: center;
    }

    p,
    img,
    iframe {
        width: 70vw;
    }

    #fotos img {
        width: 10vw;
        height: 10vh;
        display: inline;

    }

    table {
        width: 100%;
        margin: 10px 0;
        border-collapse: collapse;
    }

    table th,
    table td {
        padding: 8px;
        text-align: left;
    }
}

@media (min-width: 900px) {
    body {
        display: grid;
        height: auto;
        grid-template-columns: 1fr 3fr 1fr; /* 3 colunas: menu, main, aside */
        grid-template-rows: auto;
        grid-template-areas:
            'header header header'
            'menu main aside'
            'footer footer footer';
        padding: 10px;
    }

    header {
        grid-area: header;
        background-color: #27374D;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .menu {
        grid-area: menu;
        background-color: #526D82;
        padding: 20px;
        text-align: center;
        color: white;
        font-size: 18px;
    }

    main {
        grid-area: main;
        background-color: #DDE6ED;
        padding: 20px;
    }

    main nav {
        margin: 10px;
        border-radius: 10px;
    }

    aside {
        grid-area: aside;

        text-align: justify;
    }

    aside p , h3{
        width: 10vw;
    }

    footer {
        grid-area: footer;
        background-color: #526D82;
        color: white;
        text-align: center;
    }

    p,
    img,
    iframe {
        width: 50vw;
    }

    
    #fotos img {
        width: 10vw;
        height: 10vh;
        display: inline;

    }

}





header {
    grid-area: header;
    background-color: #27374D;
    color: white;
    padding: 0;
}

h1 {
    padding: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    grid-area: menu;
    background-color: #526D82;
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-inline: 5px;
}

nav a:hover {
    background-color: #ddd;
}

main {
    grid-area: main;
    background-color: #DDE6ED;
    margin: 0;
    padding: 0;
}

aside {
    grid-area: aside;
    background-color: #9DB2BF;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: #27374D;
    font-size: 16px;
}

aside h3 {
    font-size: 18px;
    color: #526D82;
    margin-bottom: 10px;
}

aside p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
}

footer {
    grid-area: footer;
    background-color: #526D82;
    color: white;
}

body {
    background-color: #DDE6ED;
    margin: 0;
    padding: 0;
}

footer p {
    margin: 0;
    padding: 20px;
    text-align: center;
}

#fotoGrande {
    border: none;
}

h2 {
    margin-bottom: 10px;
    color: #27374D;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 0;
    padding: 10px;
    padding-bottom: 0px;
}

main img {
    margin-bottom: 10px;
    margin-left: 20px;
}

main p {
    margin-bottom: 10px;
    color: #27374D;
    text-align: justify;
    margin-left: 20px;
}

h3 {
    margin-bottom: 10px;
    color: #27374D;
    margin-left: 15px;
    font-weight: bold;
}

main pre {
    color: #27374D;
    text-align: justify;
    margin-left: 20px;
}

main nav {
    text-align: left;
    background-color: #9DB2BF;
}

main nav a {
    text-align: left;
    color: white;
    text-decoration: none;
    margin-inline: 5px;
}

main nav p {
    text-align: left;
    padding-bottom: 10px;
}

iframe {
    margin-bottom: 10px;
    padding-left: 20px;
}

#fotos img {
    border: 05px solid #abbfce;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#fotos img:hover {
    opacity: 50%;
    cursor: zoom-in;
}

fieldset legend {
    font-weight: bold;
    padding: 10px;
}

fieldset {
    margin: 10px;
}

#submit {
    margin: 10px;
    margin-top: 0;
    margin-left: 20px;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th {
    padding: 10px 15px;
    border: 1px solid #27374D;
    text-align: left;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: #526D82;
}

table tr:nth-child(even) {
    background-color: #9DB2BF;
}

table a {
    color: #ffffff;
    text-decoration: none;
}

table a:hover {
    color: #27374D;
}



label {
    font-size: small;
}

input {
    font-size: medium;
}

label {
    display: block;
    margin-top: 5px;
    margin-left: 20px;
}

input {
    display: inline;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 20px;
}

#iframelocal {
    margin-bottom: 10px;
}

main ol {
    list-style-type: upper-roman;
}

main ol li:nth-child(2n) {
    color: #526D82;
}

textarea {
    margin-left: 20px;
    margin-top: 10px;
}

li {
    margin-left: 20px;
    margin-bottom: 10px;
}

ul,
ol {
    margin-left: 20px;
}