body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    color: #333;
}

.gallery-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
}

.gallery-item:hover {
    background-color: #f9f9ff;
}

.gallery-item h2 {
    color: #555;
    cursor: pointer;
}
